/vendor
/node_modules
/public/build
/public/hot
/public/storage
.env
.env.backup
*.zip
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*.php
composer.phar
auth.json
